*{
    font-family: 'Montserrat', sans-serif;

}

body{
    overflow: auto;
    background-color: #05021b;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar{
    appearance: none;
    background-color: #001202;
    border: none;
    filter: blur(2px);
}

.container{
    background: url("pexels-hasan-albari-1229861.jpg");
    width: 105.1%;
    height: 800px;
    margin: -8px;
    margin-top: -40px;
    background-size: cover;
}

.navbar{
    display: flex;
    background-color: transparent;
    height: 60px;
    position: sticky;
    backdrop-filter: blur(20px);
    top:0px;
    z-index: 2;
    width: 105%;

}

.logo{
    padding: 4px;
    font-size: 30px;
    color: antiquewhite;
    height: 60px;
    width: 5%;
    margin-top: 5px;
}

.main-items{
    display: flex;
    align-items: center;
    width: 60%;
    padding-left: 20px;
    
    
}

.main-items .a{
    font-size: 20px;
    color: #fff6e0;
    text-decoration: none;
    margin: 30px;
    font-weight: 1000;

}

.main-items .a:hover{
    color: #000000;
}

.main-items .home:hover{
    color: yellow;
}

.right{
    display: flex;
    width: 30%;
    justify-content: right;
    align-items: center;
    
    
}

.search{
    height: 40%;
    width: 200px;
    text-align: right;
    padding-right: 15px;
    border-radius: 20px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #7dc95e;
    
}


.btn{
    height: 50%;
    background-color: transparent;
    backdrop-filter: blur(2px);
    width: 100px;
    border-radius: 20px;
    color: azure;
    font-size: 12px;
}

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s ease-out;
    
}

.main-content{
    
    height: 500px;
    width: 1000px;
    position: relative;
    top: 60px;
    left: 100px;
}

.main-content h1{
    color: #fff6e0;
    font-size: 40px;
    border-bottom: 10px double #272829;
    width: fit-content;
    padding: 10px;
    position: relative;
    backdrop-filter: blur(20px);
    background-color: transparent;
    top: 250px;

}

.main-content h1::first-letter{
    color: yellow;
}

.post{
    color: #d8d9da;
    font-size: 60px;
    display: flex;
    width: 620px;
    border-right: 10px solid #648767;
    margin-left: 60px;
    animation: blink 0.5s step-end infinite, typing 5s steps(18) infinite;
    transition: 5s linear;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 250px;
    filter: drop-shadow(0px 0px 5px #000000)

}



@keyframes blink{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #648767;
    }
}

@keyframes typing{
    from{
        width: 0%;
    }
    to{
        width: 650px;
    }
}

@keyframes scale {
    0%{
        transform: scale(0.95);
        box-shadow: 0px 0px 0px white;
    }

    25%{
        transform: scale(1);
        box-shadow: 0px 0px 5px white;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px white;
    }
    75%{
        transform: scale(1);
        box-shadow: 0px 0px 5px white;
    }
    100%{
        transform: scale(0.95);
        box-shadow: 0px 0px 0px white;
    }
    
}

.image{
    height: 250px;
    width: 250px;
    background-image: url("f.jpg");
    background-size: cover;
    position: relative;
    top: -110px;
    left: 750px;
    border-radius: 50%;
    box-shadow: 0px  0px 2px rgb(5, 5, 5);
    border: 2px ridge rgb(41, 39, 39);
    animation: scale 2s linear infinite;
    
}

.image:hover{
    box-shadow: 2px 2px 20px #fafbfa;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bfc0c0;
    margin: 40px;
    width: 50%;
    padding-bottom: 50px;
    
}

.about-me h1{
    font-weight: 400;
    margin-bottom: 10px;
    
}

.line{
    width: 100%;
    margin-top: 10px;
    border-top: 1pt solid #bfc0c0;
    opacity: 0.3;
}

.about-me .head{
    font-size: 30px;
    margin: 40px;
}

.about-me .content{
    text-align: center;
    line-height: 1.5rem;
}


.projects{
    position: relative;
	width: 105.1%;
    height: 800px;
    display: flex;
    background-image: url("pexels-veeterzy-303383.jpg");
	background-size: cover;
    align-items: center;
    flex-direction: column;

}

.projects1{
    
    position: relative;
    top : -750px;
	width: 101.1%;
    height: 800px;
    display: flex;
    align-items: center;
    background-color: transparent;
    flex-direction: column;
 
}


.projects1 .head1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    margin: 40px;
    width: 50%;
    color: #CEE7E6;
    border-bottom: 1px solid rgba(206, 231, 230, 0.6);
}

.projects1 .sub-head{
    color: #CEE7E6;
    font-size: 30px;
}

.project-content{
    display: flex;
    width: 100%;
    margin: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.p{
    display: flex;
    justify-content: space-between;
}

.project{
    height: 400px;
    width: 300px;
    margin-top: 60px;
    background-color: #7cc95e00;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 60px;
}

.project .content{
    height: 18%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.3s linear;
}

.project .content a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    border: 2px solid #000000;
    padding: 10px;
    position: relative;
    bottom: 10px;
}

.project .content .head{
    font-size: 20px;
    width: 90%;
    color: #CEE7E6;
    border-bottom: 1px solid #CEE7E6;
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
}

.project .content p{
    color: #fafbfa;
    text-align: center;
    padding: 0px 10px;
    font-size: 15px;
}

.project .content:hover{
    height: 90%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fafbfa;
    transform: scale(1.1);
}

.project .logo{
    display: flex;
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px #94eba1);
}

.project-logo{
    width: 100px;
    height: 100px;
}

.experience{
    position: relative;
    top: -750px;
}